<div class="section" id="contact_section" style="<%= layout_bg %>">
    <section class="<%= "parallax_panel" if layout_bg.present? %>" style="<%= bg_color %>">
        <div>
            <div class="patteren"></div>
            <div class="container">
<div class="row">
<div class="col-md-6">

<div style="text-align: center;">
<form method="post" action="https://sendfox.com/form/1rypnx/1xwrzy" class="sendfox-form" id="1xwrzy" data-async="true" data-recaptcha="false">
<p>Don't miss out on any Ruby apps, games, or gems<br/>
<label><input type="checkbox" name="gdpr" value="1" required /> I agree to receive email updates and promotions.</label><br/>
<input type="email" placeholder="Email" name="email" required /></p>
<!-- no botz please -->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
<p><button type="submit">Subscribe to RDIA</button></p>
</form>
<script src="https://sendfox.com/js/form.js"></script>
</div>

</div>

<div class="col-md-6">
<div style="text-align: center;">
Help make this content possible through your secure Paypal contribution.<br/>
Any dollar amount helps to offset the cost of hosting and content production.<br/><br/>
<form action="https://www.paypal.com/donate" method="post" target="_top">
<input type="hidden" name="hosted_button_id" value="3UFHG7TCZUWVL" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>
</div>
</div>
</div>
            </div>
        </div>
    </section>
</div>
